@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .container {
    padding: 0;
    margin: 0 2rem;
  }

  .btn {
    font-size: 2.4rem;
  }

  .btn-a {
    left: 35%;
  }
}

@media (max-width: 47em) {
  .cards {
    column-gap: 1rem;
    row-gap: 3.2rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .res_img {
    width: 120px;
    height: 120px;
  }

  .res_name {
    width: 120px;
  }

  .scroll {
    gap: 3.2rem;
  }

  .btn {
    font-size: 14px;
  }
}

@media (max-width: 31em) {
  html {
    font-size: 40%;
  }

  .scroll {
    grid-auto-columns: 44%;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .product-card {
    flex-direction: row;
  }

  .res_data {
    display: grid;
    grid-template-rows: 1fr;
  }
}
